@import url('https://fonts.googleapis.com/css2?family=Itim&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Open Sans", sans-serif;
}

header{
    background-color: rgb(121, 6, 92);
    width: 100%;
    /* margin: 10px; */
    flex: content;
    align-items: center;
    justify-items: space-evenly;
    /* position: fixed; */
}

nav{
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li {
    margin: 30px;
    color: rgb(250, 250, 250);
    display: inline;
}

ul li a{
    color: antiquewhite;
}

main p {
font-size: 40px;
font-style: italic;
color:#fcf7fb;
margin-top: 250px;
margin-left: 150px;
position: absolute;
border-color: #170744;
border-width: 2px;

}
section{
    width: 100%;
    height: 600px;
    /* margin: 5px;     
    border-color: black;
    border-width: 1px;
    border-style: double; */
}

#Inicio{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.div-inicio{
    width: 33.33%;
    /* height: 499px; */
    height: auto;
    /* border: 1px solid; */
    overflow: hidden;
}

.div-inicio img{
    width: auto;
    height: 700px;
    /* height: auto; */
}

.Servicios{
    background-color:aliceblue;
    /* background-image:url("../Img/aeropuerto_1.jpg"); */
    display: flex;
    flex-direction: column;
    /* column-gap: normal; */
    align-items: center;
    justify-content:space-around;
    /* text-align: center; */
}

.Servicios h2{
   /* background-color: rgb(121, 6, 92); */
   /* background-color: aliceblue; */
   font-size: 220%;   
   font-style: italic;
   color: rgb(121, 6, 92);
   /* border-radius: 15px;
   border-color: #170744;
   width: 200px; */
   text-align: center;

}

#divservicios{
    width: 100%;
    height: 400px;
    /* margin-bottom: 50px; */
    display: flex;
    justify-content: space-around;
    /* background-color: aliceblue; */
}

.cartaservi{
    background-color: aliceblue;
    width: 300px;
    border: rgb(121, 6, 92) 5px double;
    border-radius: 20px;
    /* margin-bottom: 10px; */
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding: 5px;
}

.cartaservi img{
    height: max-content;
    width: 280px;
    height: 270px;
}

.cartaservi h3{
text-align: center;
font-size: 110%;
color:  rgb(121, 6, 92);
}

.cartaservi p{
font-size: 80%;
}

.Servicios a{
    /* background-color: aliceblue; */
    background-color:rgb(121, 6, 92) ;
    color: aliceblue;
    width: 200px;
    height: 7%; 
    justify-items: center;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    padding-top: 1%;
    padding-bottom: 1%;
}

.Servicios a:hover{
    /* background-color: blueviolet; */
    color:antiquewhite;
    font-weight:bolder;
    font-style: inherit;
}

.Marca{
    /* background-color: rgb(141, 145, 151); */
    background-image: url(../Img/aeropuerto_1.jpg);
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    align-items: center;  
}

.titulo_marca{
    width: 60%;
    height: 100px;
    background-color: #fcf7fb;
    border-color: rgb(121, 6, 92);
    border-width: 2px;
    border-style:double;
    border-radius: 10px;
    justify-items: center;
}

.titulo_marca p{
    color: #440714;
    font-size: medium;
    font-style: italic;
}

.titulo_marca h2{
    color: rgb(121, 6, 92);
}

.container{
    /* background-color: blanchedalmond; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1%;
    border-color: rgb(121, 6, 92);
}

.item_1_grid{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: rgb(121, 6, 92) 1px solid;
    align-items:first baseline;
    background-color:#fcf7fb;
    width: 552px;
    height: 324px;
}

.item_1_grid h3{
    color: rgb(121, 6, 92);
    font-size: xx-large;
    padding: 1%;
}

.item_1_grid p{
    padding-left: 3%;
    padding-right: 3%;
}

.item_2_grid{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: #440714 1px solid;
}

.item_2_grid img{
    width: 552px;
    height: 324px;
    margin-left: auto;
    margin-right: auto;
}

.item_3_grid{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: #440714 1px doubles;
    overflow: hidden;
    /* background-color: aliceblue; */
}

.item_3_grid img{
    border: #440714 1px ;
    border-style: groove;
    width: 552px;
    height: 324px;
    margin-left:auto;
    margin-right: auto;
    
}

.item_4_grid{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: #440714 1px solid;
}

/* .item_4_grid p{
    background-color: #fcf7fb;
    } */

.item_4_grid img{
border-color:black;
width: 552px;
height: 324px;
}



.Marca a{
    background-color: aliceblue;
    width: 100px;
    height: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    align-content: center;
    text-decoration: none;
}

.Marca a:hover{
    background-color: blueviolet;
    font-weight:lighter;
    font-style: oblique;
}

#Contacto{
    background-color: coral;
    
}

.container-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto 1fr;
}

.footer{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-div{
    display: flex;
    justify-content: space-around;
}


h1{
    color:#fcf7fb;
    font-size: 110px;
    font-weight: bold;
    font-style: oblique;
   position: absolute;
   margin-top: 100px;
   margin-left: 120px;
}
