@import url('https://fonts.googleapis.com/css2?family=Itim&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Open Sans", sans-serif;
}

header{
    background-color: rgb(121, 6, 92);
    width: 100%;
    /* margin: 10px; */
    flex: content;
    align-items: center;
    position: fixed;
}

nav{
    /* background-color: bisque; */
    display: flex;
    align-items: center;
}

ul li {
    margin: 30px;
    color: rgb(250, 250, 250);
    display: inline;
}

ul li a{
    color: antiquewhite;
}

main p {
font-size: 40px;
font-style: italic;
color: antiquewhite;
margin-top: 250px;
margin-left: 150px;
position: absolute;
border-color: #170744;
border-width: 2px;

}
section{
    width: 100%;
    height: 600px;
    margin: 5px; 
    
    border-color: black;
    border-width: 1px;
    border-style: double;
}

#Inicio{
    background-color: aquamarine;
    border-color: #170744;
    display: flex;
    justify-content: space-between;
}

.div-inicio{
    width: 33.33%;
    height: 499px;
    border: 1px solid;
    /* overflow: hidden; */
}

.div-inicio img{
    width: auto;
    height: 500px;
}

#Servicios{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    /* column-gap: normal; */
    align-items: center;
    justify-content:space-between;
    /* text-align: center; */
}

#Servicios h2{
    background-color:blue;
    margin-top:50px;
}

#Servicios div{
    width: 100%;
    height: 450px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
}

#Servicios div div{
    width: 300px;
    border:#170744 5px double;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding: 5px;
}

.cartaservi{

}

.H3Servicios{
    align-items: center;
    justify-items: center;
}

#Marca{
    background-color: cornflowerblue;
}

#Contacto{
    background-color: coral;
}

h1{
    color: rgb(197, 192, 192);
    font-size: 110px;
    font-weight: bold;
    font-style: oblique;
    /* text-align: center;
    justify-content: center; */
   position: absolute;
   margin-top: 100px;
   margin-left: 120px;
}

section h3{
    align-content: center;
}








