@import url('https://fonts.googleapis.com/css2?family=Itim&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Open Sans", sans-serif;
}

header{
    background-color: rgb(121, 6, 92);
    width: 100%;
    flex: content;
    align-items: center;
    justify-items: space-evenly;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img{
width: 55px;
height: auto;
}

ul li {
    margin: 30px;
    color: rgb(250, 250, 250);
    display: inline;
}

ul li a{
    color: antiquewhite;
    text-decoration-line: none;
}

ul li a:hover{
    font-size: medium;
    text-decoration-line:underline ;
}

main p {
font-size: 40px;
font-style: italic;
color:#fcf7fb;
margin-top: 250px;
margin-left: 150px;
position: absolute;
border-color: #170744;
border-width: 2px;

}
section{
    width: 100%;
    height: 600px;
}

#Inicio{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.div-inicio{
    width: 33.33%;
    height: auto;
    overflow: hidden;
}

.div-inicio img{
    width: auto;
    height: 700px;
}

h1{
    color:#fcf7fb;
    font-size: 110px;
    font-weight: bold;
    font-style: oblique;
   position: absolute;
   margin-top: 100px;
   margin-left: 120px;
}

.Servicios{
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

.Servicios h2{
   font-size: 220%;
   font-style: italic;
   color: rgb(121, 6, 92);
   text-align: center;

}

#divservicios{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
}

.cartaservi{
    background-color: aliceblue;
    width: 300px;
    border: rgb(121, 6, 92) 5px double;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding: 5px;
}

.cartaservi img{
    height: max-content;
    width: 280px;
    height: 270px;
}

.cartaservi h3{
text-align: center;
font-size: 110%;
color:  rgb(121, 6, 92);
}

.cartaservi p{
font-size: 80%;
}

.Servicios a{
    background-color:rgb(121, 6, 92) ;
    color: aliceblue;
    width: 200px;
    height: 7%;
    justify-items: center;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    padding-top: 1%;
    padding-bottom: 1%;
}

.Servicios a:hover{
    color:antiquewhite;
    font-weight:bolder;
    font-style: inherit;
}

.Marca{
    background-image: url(../Img/aeropuerto_1.jpg);
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.titulo_marca{
    width: 60%;
    height: 100px;
    background-color: #fcf7fb;
    border-color: rgb(121, 6, 92);
    border-width: 2px;
    border-style:double;
    border-radius: 10px;
    justify-items: center;
}

.titulo_marca p{
    color: #440714;
    font-size: medium;
    font-style: italic;
}

.titulo_marca h2{
    color: rgb(121, 6, 92);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1%;
    border-color: rgb(121, 6, 92);
}

.item_1_grid{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: rgb(121, 6, 92) 1px solid;
    align-items:first baseline;
    background-color:#fcf7fb;
    width: 552px;
    height: 324px;
}

.item_1_grid h3{
    color: rgb(121, 6, 92);
    font-size: xx-large;
    padding: 1%;
}

.item_1_grid p{
    padding-left: 3%;
    padding-right: 3%;
}

.item_2_grid{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: #440714 1px solid;
}

.item_2_grid img{
    width: 552px;
    height: 324px;
    margin-left: auto;
    margin-right: auto;
}

.item_3_grid{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: #440714 1px doubles;
    overflow: hidden;
    /* background-color: aliceblue; */
}

.item_3_grid img{
    border: #440714 1px ;
    border-style: groove;
    width: 552px;
    height: 324px;
    margin-left:auto;
    margin-right: auto;

}

.item_4_grid{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: #440714 1px solid;
}

/* .item_4_grid p{
    background-color: #fcf7fb;
    } */

.item_4_grid img{
border-color:black;
width: 552px;
height: 324px;
}


#Contacto{
    /* background-color: coral; */
    background-image: url(../Img/Diseño\ sin\ título.jpg);

}

.Contactos h2{
    color: #fcf7fb;
width: 100%;
height: 40px;
text-align: center;
}
.container-form{
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto 1fr;
}

.container-form-etiquetas{
    display: flex;
    flex-direction: column;
}
.container-form-etiquetas label{
width: 80%;
color: #fcf7fb;
font-size: small;
font-weight: lighter;
}

.container-form-etiquetas input{
width: 50%;
height: 30px;
border: #fcf7fb 2px solid;
border-radius: 5px;
}

.container-form-etiquetas select{
    width: 50%;
    height: 30px;
    border: #fcf7fb 2px solid;
    border-radius: 5px;
}

.container-form-Comentario{
    width: 50%;
    border-radius: 5px;
}

.container-form-Comentario label{
    width: 80%;
    color: #fcf7fb;
    font-size: small;
    font-weight: lighter;
}

.container-form-Comentario textarea{
    border-radius: 5px;
}

.container-form-check-radio{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-form-check-radio label{
    width: 80%;
    color: #fcf7fb;
    font-size: medium;
    font-weight: lighter;
}

.container-form-condiciones label{
background-color: azure;
font-size: small;
}

div .container-form-botones{
    display: inline-block
}

div .container-form-botones input{
    width: 120px;
    height: 30px;
    margin: 5%;
    border-radius: 5%;
}

.footer{
    background-color: #fcf7fb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-div p{
    font-size: small;
}

.footer-div{
    display: flex;
    justify-content: space-around;
}


@media (max-width: 768px) {

nav{
    flex-direction: column;
}

ul{
flex-direction: column;
}

.listas li a{
color:aquamarine;
font-size: small;
text-decoration-line:underline;
}

.listas li a:hover{
font-size: large;
background-color: rgb(163, 8, 124);
border-color: aquamarine;
border-radius: 2px;
padding: .5px;
text-decoration-line:none;
}





}


